<!DOCTYPE html>
<html ng-app="pagoo">
<head>
    <base href="/pagoo/" />
    <meta charset="UTF-8">
    <title>Teste Page</title>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/modules/pagoo.js"></script>
    <script src="js/modules/pagoo_auth.js"></script>
    <style>
    .error{
      color:red;   
    }
    </style>    
</head>

<body ng-controller="PagooController"> <!-- Principal Controller -->
    <div ng-controller="PagooListController">
        <ul>
            <div ng-show="!users">Carregando...</div>
            <table ng-hide="users == 0" class="simpletablestyle" border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone #</th>
                        <th>Celular #</th>
                        <th>CPF/CNPJ</th>
                        <th>JSON</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <!-- The table is built using the AngularJS repeat function, iterating over the members variable, and ordering by the property specified in the orderBy variable -->
                <tr ng-repeat="user in users">
                    <td>{{user.id}}</td>
                    <td>{{user.nome}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.telefone}}</td>
                    <td>{{user.celular}}</td>
                    <td>{{user.cpfcnpj}}</td>
                    <td>{{user | json}}</td>
                    <td><button ng-click="detailUser(user.id)">Detalhar</button></td>
                </tr>
            </table>
       
        </ul>
        
        
        <div ng-controller="UserDetailsController" ng-hide="!userDetail">
           <table  border="1">                
                <tr><td><em>userDetail.id</em></td><td>{{userDetail.id}}</td></tr>
                <tr><td><em>userDetail.nome</em></td><td>{{userDetail.nome}}</td></tr>
                <tr><td><em>userDetail.email</em></td><td>{{userDetail.email}}</td></tr>
                <tr><td><em>userDetail.telefone</em></td><td>{{userDetail.telefone}}</td></tr>
                <tr><td><em>userDetail.celular</em></td><td>{{userDetail.celular}}</td></tr>
                <tr><td><em>userDetail.cpfcnpj</em></td><td>{{userDetail.cpfcnpj}}</td></tr>
                <tr><td><em>userDetail | json</em></td><td>{{userDetail | json}}</td></tr>
            </table>
        </div>


		<div ng-controller="LoginController">
			<form name="loginForm" ng-submit="login(usuario)" novalidade>
				Nome:<br /> 
				<input type="text" required name="usuario.email" ng-model="usuario.email" /><br />
				<div class="error" ng-show="loginForm.usuario.email.$invalid && loginForm.usuario.email.$dirty">Por favor preencha seu nome</div>
				Senha: <br /> 
				<input type="password" ng-minlength="6" required name="usuario.senha" ng-model="usuario.senha" /><br />
				<div>--> {{loginForm.usuario.senha.$dirty}}</div>
				<div class="error" ng-show="loginForm.usuario.senha.$dirty && loginForm.usuario.senha.$error.minlength">Por favor, sua senha precisa ter 6 dígitos</div>
				<div class="error" ng-show="loginForm.usuario.senha.$error.required && loginForm.usuario.senha.$dirty">Por favor preencha sua senha</div>
				<button type="submit" ng-disabled="loginForm.$invalid">Enviar Formulário</button>
			</form>
			<div ng-if="currentUser">Welcome, {{ currentUser.nome }}</div>
			<div>currentUser.role: {{currentUser.role}}</div>
			<div>{{currentUser | json}}</div>
			<div>{{userRoles | json}}}}</div>
			<div ng-if="isAuthorized(userRoles.administrador)">You're admin.</div>
			<div ng-switch on="currentUser.role">
			  <div ng-switch-when="Administrador">Você é Administrador</div>
			  <div ng-switch-when="Associacao">Você é associado a uma associação.</div>
			  <div ng-switch-default>Você é outra coisa! :P</div>
			</div>			
		</div>
	</div>
</body>

</html>